<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SampleRest.RestServiceImplBehavior"
       name="Server.Service">
        <endpoint address="soap"
                  binding="basicHttpBinding"
                  contract="Server.Service"
                  bindingConfiguration="BasicHttpBinding_Service"
                  behaviorConfiguration="soapBehavior"
               />
        <endpoint address="rest"
                  behaviorConfiguration="restbehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="WebHttpBinding_Service"
                  contract="Server.Service" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Service" maxBufferPoolSize="2147483647" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_Service" closeTimeout="00:01:00"
                 openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Server.ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="restbehavior">
          <webHttp/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="soapBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SampleRest.RestServiceImplBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
